@import url('config.css');

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 3em;
}

header ul {
    display: flex;
    gap: 1em;
    list-style-type: none;
}


header ul li {
    font-weight: 700;
    font-size: 1.1em;
}

header ul li a{
    text-decoration: none;
    color: black;
}

header ul li a:hover {
    color: var(--corprincipal);
}

header img {
    width: 5dvh;
}

header button {
    border: none;
    background-color: transparent;
    font-weight: 700;
    font-size: 1.1em;
}

header button:hover {
    color: var(--corprincipal);
}

.ajustar {
    display: flex;
    justify-content: end;
    padding: 0em 3em;
}

.tirar {
    display: none;
}

.por {
    display: none;
}

@media (max-width: 700px) {
    header nav {
        padding: 1em 1.5em;
    }

    header ul li {
        font-weight: normal;
        font-size: 1.1em;
    }
    header button {
        font-weight: normal;
        font-size: 1.1em;
    }
    .ajustar {
        display: flex;
        justify-content: end;
        padding: 0em 1.5em;
        flex-wrap: wrap;
    }
    
}