@import url('config.css');

section {
    margin: 2em;
}

.bemvindo {
    text-align: center;
}

.bemvindo p {
    max-width: 50em;
    margin: auto;
}

.horarios {
    text-align: center;
}

.horarios ul {
    list-style-type: none;
}

.horarios li.indisponivel {
    color: #e74c3c;
    text-decoration: line-through;
}

.horarios p {
    font-size: 1em;
    color: #7f8c8d;
    margin-top: 20px;
}

.loca {
    text-align: center;
}